<h2>Dashboard</h2>


<% @restaurants.each do |restaurant| %>
  <h2> <%= link_to restaurant.name, r_path(restaurant.id) %></h2>
<% end %>




<li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
</li>
